.query_r table{
  width: 80%;
  height: 70%;
  position: absolute;
  left: 10%;
  
}

.query_r tr{
  width: 100%;
}

.buttonr {
  width: 5.25vw;
  height: 6.5vh;
  border: none;
  border-radius: 6px;
  font-family: cursive ;
  font-style: italic;
  font-size: 12px;
  text-align: center;
  background-color: inherit;
}

button, .buttonr :hover{
  cursor: pointer;
  text-align: center;
}

input , select, textarea{
  width: 35%;
  cursor: pointer;
}

#label {
  width: 15%;
}

.staff table {
  width: 90%;
  height: 100%;
  position: absolute;
  left: 5%;
  text-align: center;
}

.staff th {
  height: 10%;
}
.staff tr {
  height: 18%;
}

.query_r table, tr, td {
  border: 2px solid black;
  text-align: center;
}