.signup {
    width: 80vw;
    height: 80vh;
    float: left;
    padding: 15px;
    margin: 0;
    border: 1px solid #000;
    text-align: center;
    background-color: coral;
}

.containerleft2 {
    height: 80vh;
    width: 40vw;
    float: left;
    padding: 15px;
    margin: 0;
    border: 1px solid #000;
    position: relative;
    text-align: center;
    left: 7%;

}

.container_right2 {
    height: 80vh;
    width: 40vw;
    float: right;
    padding: 15px;
    margin: 0;
    border: 1px solid #000;
    position: absolute;
    text-align: center;
    right: 7%;

}

.background_right {
    height: 80vh;
    width: 40vw;
    float: right;
    padding: 15px;
    margin: 0;
    border: 1px solid #000;
    position: absolute;
    text-align: center;
    right: 7%;
    background-color: #000;
}

.login_right {
    margin: 0;
    position: absolute;
    height: 90vh;
    width: 55.5%;
    top: 50%;
    left: 83.2%;
    -ms-transform: translate(-70%, -50%);
    transform: translate(-70%, -50%);
}

input, select {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #0000008a;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 90%;
    height: 20px;
    
}

button {
    background-color: black;
    color: purple;
    border: none;
    border-radius: 6px;
    width: 90%;
    cursor: pointer;
    
}

input::placeholder, select::placeholder {
    color: rgba(204, 183, 183, 0.267);
}

#altbutton{
    background-color:  rgba(228, 0, 228, 0.397);
    color: rgba(204, 183, 183, 0.267);
    width: 40%;
}

a {
    padding: 5px;
    border-radius: 6px;
}

.student_but {
    background-image: image("../images/Student.gif");
    background-size: cover;
    background-repeat: no-repeat;
}